<p id="notice"><%= notice %></p>

<h1>Investments</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Purchasedate</th>
      <th>Selldate</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.users %></td>
        <td><%= investment.symbol %></td>
        <td><%= investment.quantity %></td>
        <td><%= investment.cost %></td>
        <td><%= investment.purchasedate %></td>
        <td><%= investment.selldate %></td>
        <td><%= investment.status %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
