
<% if @investments.count > 0 %>
<div id='myInvestments'><!-- User Investments Table Show different Attributes -->

	<% total = 0 %> <!-- initial value of total investment total cost -->
	<% @investments.each do |x| %> <!-- loop all investments to sums up total investment cost -->
		<% total += x.cost %>
	<% end %>

	<div class ="row" style="margin:10px 2px 4px 10px;">
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Cost:</b><%= '$' + number_with_delimiter(total.round(0), :delimiter => ',').to_s %></div>
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Market Value:</b><span id='totalMarketValue'><img src="/assets/kloader.gif" id='loader'></span></div>
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Gain($):</b><span id='totalGain$'><img src="/assets/kloader.gif" id='loader'></span></div>
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Gain(%):</b><span id='totalGain%'><img src="/assets/kloader.gif" id='loader'></span></div>
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Day Gain($):</b><span id='totalDayGain$'><img src="/assets/kloader.gif" id='loader'></span></div>
		<div class="col-xs-6 col-lg-4" style="margin-top: 2px; font-size: 20px;"><b>Total Day Gain(%):</b><span id='totalDayGain%'><img src="/assets/kloader.gif" id='loader'></span></div>
	</div>

	<!-- Loops all of the User's investments and calculates attribues values from database and parsed data from JSON API -->
	<div class ="row" style="margin:10px 2px 4px 10px;">
		<% @investments.each do |inv| %> <!-- start of card loop -->
				<!--Investment Cards -->
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
				    <div class="card">
				    	<!-- Card media heading -->
				        <div class="media-body">
				            <%= link_to investment_path(inv.id) do %>
				            	<h2 style="margin-top: 3px;"><span id='symbol<%=inv.id%>'><%= inv.symbol %></span></h2> 
				            <% end %>
				            <div class="row">
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Quantity(#):</b> <%= inv.quantity %></div>
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Cost:</b> <span id='cost<%=inv.id%>'><img src="/assets/kloader.gif" id='loader'></span></div>
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Last($):</b> <span id='last<%=inv.id%>'><img src="/assets/kloader.gif" id='loader'></span></div>
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Value($):</b> <span id='value<%=inv.id%>'><img src="/assets/kloader.gif" id='loader'></span></div>
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Day Gain ($):</b> <span id='dayGain$<%=inv.id%>'><img src="/assets/kloader.gif" id='loader'></span></div>
				            	<div class="col-xs-6" style="margin-top: 2px;"><b>Day Gain (%):</b> <span id='dayGain%<%=inv.id%>'><img src="/assets/kloader.gif" id='loader'></span></div>
				            </div>	
				            <%= link_to inv, method: :delete, data: { confirm: 'Are you sure?' } do %> <span style="font-size: 10px"> Delete <%= inv.symbol %></span> <% end %>
				        </div>
					</div>
				</div>
			<script>
			$(document).ready(function() {
				// URL of stock's Global Quotes. a symbol is needed to distinguish different stock data. 
				var requestURL = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=<%= inv.symbol %>&apikey=N6WB2563ACVSGIJV'; 

				// functions to parse JSON API Data
				var request = new XMLHttpRequest();

				request.open('GET', requestURL);

				request.responseType = 'json';

				request.send();

				// after the data is loaded from the API source. These tasks are performed
				request.onload = function() {

				  	var data = request.response; //JSON data is stored in data variable

				  	//different datapoints from API
				  	var symbol = data["Realtime Global Securities Quote"]["01. Symbol"];
				  	var latestPrice = data["Realtime Global Securities Quote"]["03. Latest Price"];
				  	var openPrice = data["Realtime Global Securities Quote"]["04. Open (Current Trading Day)"];
				  	var cost = <%= inv.cost %>;

				  	//calculation of different data points. After they are calculated the datapoints replace the loader gif in the user's investment table.

				  	totMarketValue += (<%= inv.quantity %> * latestPrice);
				  	totDayGain += (( latestPrice - openPrice ) * <%= inv.quantity %>);
				  	var value = (<%= inv.quantity %> * latestPrice);

					document.getElementById("symbol<%=inv.id%>").innerHTML = symbol;
					document.getElementById("cost<%=inv.id%>").innerHTML = addCommas2(value);
					document.getElementById("value<%=inv.id%>").innerHTML = addCommas2(cost)
					document.getElementById("last<%=inv.id%>").innerHTML = addCommas((latestPrice * 1).toFixed(2));
					document.getElementById("dayGain$<%=inv.id%>").innerHTML = addCommas(( latestPrice - openPrice ).toFixed(2));
					document.getElementById("dayGain%<%=inv.id%>").innerHTML = (100 * (( latestPrice - openPrice ) / openPrice)).toFixed(3);

					total();
				}
			});

			//function to add commas to number
			function addCommas(nStr) {
				nStr += ''; //turns number into a string
				x = nStr.split('.'); //number string becomes an array. if number string has a decimal. the decimal section is split from the string. x[0] is the whole numbers. x[1] is the decimals.
				x1 = x[0]; //x1 is the whole numbers
				x2 = x.length > 1 ? '.' + x[1] : '';
				var rgx = /(\d+)(\d{3})/; //regex to split out the last pairs are 3 from the rear of the number
				while (rgx.test(x1)) {	//loops the rex and adds a comma in between pairs are 3
					x1 = x1.replace(rgx, '$1' + ',' + '$2');
				}
				return '$' + x1 + x2; //returns delimited number and includes a $ in front.
			}
						//function to add commas to number
			function addCommas2(nStr) {
				nStr += ''; //turns number into a string
				x = nStr.split('.'); //number string becomes an array. if number string has a decimal. the decimal section is split from the string. x[0] is the whole numbers. x[1] is the decimals.
				x1 = x[0]; //x1 is the whole numbers
				x2 = x.length > 1 ? '.' + x[1] : '';
				var rgx = /(\d+)(\d{3})/; //regex to split out the last pairs are 3 from the rear of the number
				while (rgx.test(x1)) {	//loops the rex and adds a comma in between pairs are 3
					x1 = x1.replace(rgx, '$1' + ',' + '$2');
				}
				return '$' + x1; //returns delimited number and includes a $ in front.
			}

			</script>
			<script>console.log(<%= inv.id %>)</script> <!-- console.log for testing purposes only -->

		<% end %> <!-- end of card loop -->
	</div>
	<script> //script to calculate total of different attributes of User's investments
		var totMarketValue = 0 //initial value of current investment Market values
		var totDayGain = 0 //initial value of current investment day gains

		//function total() is a callback. it is called everytime a single JSON API is parsed. It will sum and display 
		//the these investment attribues as data is loaded.
		function total(){ 
			document.getElementById("totalMarketValue").innerHTML = addCommas(totMarketValue.toFixed(2));
			document.getElementById("totalDayGain$").innerHTML = addCommas(totDayGain.toFixed(2));
			var totDayGainPercent = 100 * ( totDayGain / totMarketValue );
			document.getElementById("totalDayGain%").innerHTML = totDayGainPercent.toFixed(3);
			var totGain = totMarketValue - <%= total %>
			document.getElementById("totalGain$").innerHTML = addCommas(totGain.toFixed(2));
			var totGainPercent = 100 * ( totGain / <%= total %>)
			document.getElementById("totalGain%").innerHTML = totGainPercent.toFixed(3);
		};
	</script>
</div>
<% end %>
