<% if signed_in? %>
	<h3>Welcome <%= current_user.full_name %></h3>
	<%= link_to session_path(current_user.id), method: :delete do %>Logout<% end %></span>

	<h2>Add New Investment</h2>

	<%= form_for :investment, url: investments_path, remote: true do |form| %>

		<div class="field">
			<%= form.hidden_field :user_id, :value => current_user.id %>
		</div>
		<div class="field">
			<%= form.label :symbol %>
			<%= form.text_field :symbol, id: :investment_symbol %>
		</div>

		<div class="field">
			<%= form.label :quantity %>
			<%= form.number_field :quantity, id: :investment_quantity %>
		</div>

		<div class="field">
			<%= form.label :cost %>
			<%= form.text_field :cost, id: :investment_cost %>
		</div>

		<div class="field">
			<label>Purchase Date</label>
			<%= form.date_select :purchasedate, id: :investment_purchasedate %>
		</div>

		<div class="actions">
			<%= form.submit %>
		</div>

	<% end %>

	<%= form_tag users_index_path, :method => 'get', remote: true do %>
		<label>Symbol</label>
		<select name="symbol">
			<option></option>
			<% @symbols.each do |x| %>
				<option value="<%= x %>"><%= x %></option>
			<% end %>
		</select>

		<label>Cost Min</label>
		<input type="number_with_delimiter" name="cost_min"></input>

		<label>Cost Max</label>
		<input type="number_with_delimiter" name="cost_max"></input>

		<div class="actions">
			<%= submit_tag "Search", :name => nil %>
		</div>
	<% end %>

	<div>
		<%= render "investment" %>
	</div>


<% else %>
	<h2>Login</h2>
	<%= form_for :session, url: session_path do |form| %>
	    <input type=text placeholder="Email" name="user[email]"><br>
	    <input type=password placeholder="Password" name="user[password]"></br>
	    <%= form.submit "Sign in" %> 
	    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>
<span><%= link_to signup_url do %>Sign Up<% end %></span>
<% end %>